@model HireIN.Models.Agency

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<p>
    @Html.ActionLink("Vacancies", "showVacancy") |
    @Html.ActionLink("Show Applicants", "ApplicantsApplied") |
    @Html.ActionLink("LogOut", "Logout")
</p>
