<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 class="text-center" id="aspnetTitle">Welcome To,</h1>
        <p class="lead text-center">Employee Recruitment System</p>
        <p>
            An employee recruitment system is a software solution that allows companies to manage and streamline 
            their hiring process. These systems typically include functions such as job posting, resume management,
            applicant tracking, and interview scheduling. They can also provide features like candidate assessments,
            background checks, and onboarding documents. Recruitment systems can help organizations to attract and select 
            the best candidates more efficiently and effectively. They can also reduce recruitment costs and provide 
            valuable data and analytics to inform future hiring decisions.
        </p>
    </section>
    <div class="row">
        <section class="col-md-6" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Candidates</h2>
            <p>individual who is being considered for a job or position within an organization's employee recruitment system. 
                Their role is to apply for open positions and go through the selection process, which typically includes 
                submitting their resume, participating in interviews, and taking assessments or tests.</p>
            <p><a class="btn btn-outline-dark" href="/Candidate/register">SignUp Here &gt;&gt;</a></p>
        </section>
        <section class="col-md-6" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Agencies</h2>
            <p>identifying and attracting qualified candidates for open positions. Recruitment agencies often use 
            a variety of techniques, including advertising, networking, and referrals, to find potential candidates.</p>
            <p><a class="btn btn-outline-dark" href="/agency/register"> SignUp Here&gt;&gt;</a></p>
        </section>
        
    </div>
</main>