<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Welcome</h1>
        <p class="lead">Employee Recruitment System</p>
        <p>
            An employee recruitment system is a software solution that allows companies to manage and streamline their hiring process. These systems typically include functions such as job posting, resume management, applicant tracking, and interview scheduling. They can also provide features like candidate assessments, background checks, and onboarding documents. Recruitment systems can help organizations to attract and select the best candidates more efficiently and effectively. They can also reduce recruitment costs and provide valuable data and analytics to inform future hiring decisions.
        </p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </section>>
    </div>
</main>