
@{
    ViewBag.Title = "CandidateApplied";
}

<h2>Applied</h2>

<p>You have applied for the job</p>

<p>
    @Html.ActionLink("Back to Vacancy List", "showVacancyToCandidate") |
    @Html.ActionLink("Back to Dashboard", "Dashboard")
</p>