
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<p>
    @Html.ActionLink("LogOut", "Logout")  
</p>

<ul>
    <li>       Show Vacancies    </li>
    <li>       Applied Status    </li>
</ul>