
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<p>
    @Html.ActionLink("LogOut", "Logout")  
</p>

<ul>
    <li>
        @Html.ActionLink("Show Vacancies", "showVacancyToCandidate")    
    </li>
    <li>
        @Html.ActionLink("Applied Status", "AppliedApplicantStatus")
    </li>
</ul>